<h1>ABC Retail Banking Application</h1>
<p>
  ABC Retail bank will provide following type of accounts to their customers. Here are the details of account.
</p>
<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  
  <section>
    <h1>Savings  Bank  Account</h1>
    <p style="text-align: left;">A Savings bank account is the most common operatingaccount  for  individuals  and  others  for  non-commercial  transactions.  A  Savings account  helps  people  to  put  through  day-to-day  banking  transactions  besides earning some return on the savings made. Banks generally put some ceilings on the total  number  of  withdrawals  permitted  during  specific  time  periods.  Banks  also stipulate certain minimum balance to be maintained in savings accounts. </p>
  </section>
  <section>
    <h1>Current  Bank  Account</h1>
    <p  style="text-align: left;">User  can  do  transaction  as  many  as  they  can.  Annualservice charge is $ 150 which will be deducted from customer account through ECS process  at  the  end  of  each  fiscal  year.  Minimum  balance  of  this  kind  of  account defined  by  bank  is  $  2000.  At  any  circumstances  if  account  balance  goes  down below said amount then bank deduct $ 2 from account in favor of penalty.</p>
  </section>
  <section>
    <h1>Checking Account </h1>
    <p  style="text-align: left;">Any individual can do transaction as many as they can. Thiskind of account used for pay bills, purchasing, transfer money to another accountsand many other usages. Institute may impose fees on checking account of amount $ 50 yearly. Any combination of below three rules can be used by the banks. Those area.Flat fee regardless of the balance maintained or number of transactions.b.Additional fee if average balance goes down below a specified amount.c.A fee for every transaction conducted.</p>
  </section>
</div>
